section.hero
  .image
    img.face(src='/img/jascha.ehrenreich.jpg' role='presentation')
    img.body(src='/img/jascha.ehrenreich.body.jpg' role='presentation')

  .text
    h1 jascha ehrenreich

    h2 hacker and streetartist

    block hero-content
