html,
h1, h2, h3,
div, p, span,
img,
ul,
li,
.article,
.section,
.header,
.footer,
.main
  background transparent
  border 0
  box-sizing border-box
  font-weight 400
  margin 0
  outline 0
  padding 0
  vertical-align baseline

.article,
.header,
.footer,
.section
  display block

a
  background transparent
  font-size 100%
  margin 0
  padding 0
  vertical-align baseline
